<h1>User Destroyed</h1>
Destroyed user :
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @user.postal_code%>
</p>
<%= link_to 'Back', users_path %>
<%= link_to 'Restore', "/create_fast?name=#{@user.name}&email=#{@user.email}&address=#{@user.address}&postal_code=#{@user.postal_code}" %>
